.btn-container {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap to the next line */
    justify-content: center; /* Center buttons horizontally */
    gap: 10px; /* Add a gap between the buttons */
  }
  
  .btn-container button {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 8px 12px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 100px; 
    font-size: 10px;
    cursor: pointer;
  }
  
  .btn-container button:hover {
    background-color: #b3d9ff; 
  }
  
  .btn-container button i {
    margin-right: px;
  }
  
  