@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

.container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
  padding: 20px;
  box-sizing: border-box;
}


/* Media Queries */
@media only screen and (max-width: 600px) {
    .modal-content {
      padding: 20px; /* Adjust padding for smaller screens */
      width: 90%; /* Adjust width for smaller screens */
    }
    
    .modal h3 {
      font-size: 20px; /* Adjust font size for smaller screens */
    }
    
    .modal p {
      font-size: 14px; /* Adjust font size for smaller screens */
    }
    
    .modal button {
      padding: 10px 20px; /* Adjust padding for smaller screens */
      font-size: 16px; /* Adjust font size for smaller screens */
    }
  
    .btn-container button {
      padding: 6px 10px; /* Adjust padding for smaller screens */
      font-size: 8px; /* Adjust font size for smaller screens */
      margin: 2px; /* Adjust margin for smaller screens */
    }
  
    .delete-selected-button {
      left: 190px;
      bottom: -355px;
    }
     
   
    
  }